.glyphicon { 
    margin-right:5px;
}
.rating .glyphicon {
    font-size: 22px;
}
.rating-num { 
    margin-top:0px;
    font-size: 54px; 
}
.progress { 
    margin-bottom: 5px;
}
.progress-bar { 
    text-align: left; 
}
.rating-desc .col-md-3 {
    padding-right: 0px;
}
.sr-only { 
    margin-left: 5px;
    overflow: visible;
    clip: auto; 
}

.issue-info {
    width: 55%;
}
.issue-id {
    width: 5%;
}

.project-files li a{
    font-size: 13px;
}

.project-files li i.fa-times{
    color: rgb(255, 96, 96);
    cursor: pointer;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    border-top-color: #1bb394;
    border-top-width: 3px;
    color: #1bb394;
    border-bottom-color: white;
}
.dt-editar{
    color: #848484;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}

/* X-EDITABLE */
.editable-buttons {
    margin-top: 10px;
    display: block;
}
.editable-container.editable-inline, 
.editableform > .control-group, 
.editable-input, 
.editableform .form-control {
    width:100%;
}

.editable-click
{
    border-bottom: none;
    font-weight: normal;
    padding: 10px;
    border-radius: 6px;
}
h2.editable-click
{
    font-weight: 100;
    border-radius: 6px;

}

p.editable-click:hover
{
    background-color: whitesmoke !important;
    cursor: pointer;
}
h2.editable-click:hover
{
    background-color: whitesmoke !important;
    cursor: pointer;
}
/* /X-EDITABLE */

/* CONSERTO DETALHAMENTO */

@media (max-width: 768px) {
    div.painel-esquerdo > div.row {
        margin-left: 0px;
        margin-right: 0px;
    }
}


.chat-form img
{
    width: 38px;
    height: 38px;
}

.chat-form > img{
    margin-right: 10px;
}
.media-body
{
    font-size: 13px;
}
.media-body .form-group
{
    margin-right: 0px;
    margin-left: 0px;
}


.atividade .atividade-id
{
    font-size: 22px;
}
.lista-atividades > div
{
    margin-top: 1px;
}
.lista-atividades > div:first-child
{
    margin-top: 0;
}
/* ---------------------- */
.atividade.success
{
    border-width: 1px 1px 1px 8px;
    background-color: #f0fff5;
    border-color: #1bb394;
    border-style: solid;
    padding: 10px;
    border-radius: 0;
}
.atividade.success .atividade-icon
{
    color: #1bb394;
}
.atividade.success hr
{
    border-bottom-color: #1bb394;
}
.atividade.success .atividade-id
{
    color: #1bb394;
}
/* ---------------------- */
.atividade.warning
{
    border-width: 1px 1px 1px 8px;
    background-color: #fff7ed;
    border-color: #f8ac5a;
    border-style: solid;
    padding: 10px;
    border-radius: 0;
}
.atividade.warning hr
{
    border-bottom-color: #f8ac5a;
}
.atividade.warning .atividade-id
{
    color: #f8ac5a;
}
/* -------------------------- */
.atividade.danger
{
    border-width: 1px 1px 1px 8px;
    background-color: #ffe5e7;
    border-color: #ed5666;
    border-style: solid;
    padding: 10px;
    border-radius: 0;
}
.atividade.danger hr
{
    border-bottom-color: #ed5666;
}
.atividade.danger .atividade-id
{
    color: #ed5666;
}
/* -------------------------- */
.atividade-icon
{
    width: 25px;
}
.atividade-icon + p
{
    font-weight: 600;
    font-size: larger;
    margin: 0;
    cursor: pointer;
}

.user-group
{
    margin-left: -15px !important;
}

.atividade div.row
{
    margin: 0;
}

.atividade .form-horizontal label
{
    padding: 0;
}
.atividade .form-horizontal p
{
    padding-top: 0;
    min-height: 0;
}
.atividade .form-group
{
    margin: 0;
}
/* MENSAGENS */

.mensagem-seta {
	position: relative;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 14px;
    margin-bottom: 1px;
}
.mensagem-seta:after, .mensagem-seta:before {
	bottom: 100%;
	left: 18px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mensagem-seta:after {
	border-color: rgba(241, 241, 241, 0);
	border-bottom-color: #f1f1f1;
	border-width: 9px;
	margin-left: -9px;
}
.mensagem-seta:before {
	border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #DDDDDD;
    /* calculo = (tamanho do :after) + (px da border) + 1 */
	border-width: 10px;
	margin-left: -10px;
}

.mensagem-seta.publica {
    background: #d6efff;
    border: 1px solid #1c84c6;
}
.mensagem-seta.publica:after {
    border-bottom-color: #d6efff;
}
.mensagem-seta.publica:before {
    border-bottom-color: #1c84c6;
}
.mensagem-seta.privada {
    background: #fff0df;
    border: 1px solid #f8ac59;
}
.mensagem-seta.privada:after {
    border-bottom-color: #fff0df;
}
.mensagem-seta.privada:before {
    border-bottom-color: #f8ac59;
}

.mensagem{
    margin-bottom: 1px;
    padding: 10px 20px;
    border-radius: 4px;
}
.mensagem hr,
.mensagem-seta hr
{
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.mensagem.publica
{
    border: 1px solid #1c84c6;
    background-color: #d6efff;
}
.mensagem.publica hr,
.mensagem-seta.publica hr
{
    border-top-color: #1c84c6;
}
.mensagem.privada
{
    border: 1px solid #f8ac59;
    background-color: #fff0df;
}
.mensagem.privada hr,
.mensagem-seta.privada hr
{
    border-top-color: #f8ac59;
}

.mensagem-vazia{
    margin-bottom: 1px;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
}
.mensagem-vazia.privada{
    border: 2px dashed #f8ac59;
    background-color: #fff0df;
    color: #f8ac59;
}
.mensagem-vazia.publica{
    border: 2px dashed #1c84c6;
    background-color: #d6efff;
    color: #1c84c6;
}
.mensagem-vazia.todas{
    border: 2px dashed #1ab394;
    color: #00886c;
    background: #dff0d8;
}


/* /MENSAGENS */



/* //CONSERTO DETALHAMENTO */

/* NOVA TAB PARA CHAT */

.tab .nav-tabs li a {
    background:transparent;
    border-radius:0;
    border:none;
    font-size:13px;
    padding: 0px 22px 10px;
}
.tab .nav-tabs li a:hover{
    background:transparent;
}
.tab .nav-tabs li a i{
    display:block;
    text-align:center;
    margin-bottom:4px;
    color:#1cb394;
}
.tab .nav-tabs li.active > a,
.tab .nav-tabs li.active > a:focus,
.tab .nav-tabs li.active > a:hover {
    border: none;
    border-bottom: 2px solid #1cb394;
    color:#1cb394 ;
}
.tab .nav-tabs li.active a:after{
    content: " ";
    position: absolute;
    bottom: 0%;
    left: 45%;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #1cb394;
}
.tab .tab-content{
    padding:12px;
    color:#5a5c5d;
    font-size: 14px;
    margin-top:0;
    border:none;
}

.tab .nav-tabs li.active > a.info,
.tab .nav-tabs li.active > a.info:focus,
.tab .nav-tabs li.active > a.info:hover {
    border-bottom: 2px solid #1c84c6;
    color:#1c84c6 ;
}
.tab .nav-tabs li.active a.info:after{
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #1c84c6;
}
.tab .nav-tabs li.active > a.warning,
.tab .nav-tabs li.active > a.warning:focus,
.tab .nav-tabs li.active > a.warning:hover {
    border-bottom: 2px solid #f8ac59;
    color:#f8ac59 ;
}
.tab .nav-tabs li.active a.warning:after{
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #f8ac59;
}

@media only screen and (max-width: 480px) {
    .tab .nav-tabs li{
        width:100%;
    }
    .tab .nav-tabs li a{
        border:1px solid lightgray;
        margin-bottom:10px;
    }
    .tab .nav-tabs li a i{
        display:inline-block;
        margin-right:15px;
    }
    .tab .nav-tabs li.active  a,
    .tab .nav-tabs > li.active a:focus,
    .tab .nav-tabs > li.active a:hover {
        border:1px solid #1cb394;
    }
    .tab .nav-tabs > li.active > a:after{
        border:none;
    }
}

                /* BADGE */
.nav-tabs > li > a > span.conserto.badge,
.nav-tabs > li > a > span.conserto.badge {
    background-color: #A7B1C2;
}
.nav-tabs > li > a:hover > span.conserto.badge,
.nav-tabs > li > a:focus > span.conserto.badge {
    background-color: #676a6c;
}
.nav-tabs > li.active > a > span.conserto.badge.badge-primary {
    background-color: #1cb394;
}
.nav-tabs > li.active > a > span.conserto.badge.badge-success {
    background-color: #1c84c6;
}
.nav-tabs > li.active > a > span.conserto.badge.badge-warning {
    background-color: #f8ac59;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: white;
    color: #676a6c;
    border-color: white;
}

/* //NOVA TAB PARA CHAT */

/* SOMBRA PARA I-BOX */

.ibox-content{
    background-color: transparent;
    border: none;
}
.ibox-title{
    background-color: transparent;
    border-width: 0 0 2px;
    border-style: solid;
}
  .ibox{
    border-radius: 2px;
    background-color: white;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .gmd-2 {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  /* //SOMBRA PARA I-BOX */

