.glyphicon { 
    margin-right:5px;
}
.rating .glyphicon {
    font-size: 22px;
}
.rating-num { 
    margin-top:0px;
    font-size: 54px; 
}
.progress { 
    margin-bottom: 5px;
}
.progress-bar { 
    text-align: left; 
}
.rating-desc .col-md-3 {
    padding-right: 0px;
}
.sr-only { 
    margin-left: 5px;
    overflow: visible;
    clip: auto; 
}

.issue-info {
    width: 55%;
}
.issue-id {
    width: 5%;
}

.project-files li a{
    font-size: 13px;
}

.project-files li i.fa-times{
    color: rgb(255, 96, 96);
    cursor: pointer;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    border-top-color: #1bb394;
    border-top-width: 3px;
    color: #1bb394;
    border-bottom-color: white;
}
.dt-editar{
    color: #848484;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}

/* X-EDITABLE */
.editable-buttons {
    margin-top: 10px;
    display: block;
}
.editable-container.editable-inline, 
.editableform > .control-group, 
.editable-input, 
.editableform .form-control {
    width:100%;
}

.editable-click
{
    border-bottom: none;
    font-weight: normal;
    padding: 10px;
    border-radius: 6px;
}
h2.editable-click
{
    font-weight: 100;
    border-radius: 6px;

}

p.editable-click:hover
{
    background-color: whitesmoke !important;
    cursor: pointer;
}
h2.editable-click:hover
{
    background-color: whitesmoke !important;
    cursor: pointer;
}
/* /X-EDITABLE */

/* CONSERTO DETALHAMENTO */

.chat-form img
{
    width: 38px;
    height: 38px;
}

.chat-form > img{
    margin-right: 10px;
}
.media-body
{
    font-size: 13px;
}
.media-body .form-group
{
    margin-right: 0px;
    margin-left: 0px;
}


.atividade .atividade-id
{
    font-size: 22px;
}
.lista-atividades > div
{
    margin-top: 1px;
}
.lista-atividades > div:first-child
{
    margin-top: 0;
}
/* ---------------------- */
.atividade.success
{
    border-width: 1px 1px 1px 8px;
    background-color: #f0fff5;
    border-color: #1bb394;
    border-style: solid;
    padding: 10px;
    border-radius: 0;
}
.atividade.success .atividade-icon
{
    color: #1bb394;
}
.atividade.success hr
{
    border-bottom-color: #1bb394;
}
.atividade.success .atividade-id
{
    color: #1bb394;
}
/* ---------------------- */
.atividade.warning
{
    border-width: 1px 1px 1px 8px;
    background-color: #fff7ed;
    border-color: #f8ac5a;
    border-style: solid;
    padding: 10px;
    border-radius: 0;
}
.atividade.warning hr
{
    border-bottom-color: #f8ac5a;
}
.atividade.warning .atividade-id
{
    color: #f8ac5a;
}
/* -------------------------- */
.atividade.danger
{
    border-width: 1px 1px 1px 8px;
    background-color: #ffe5e7;
    border-color: #ed5666;
    border-style: solid;
    padding: 10px;
    border-radius: 0;
}
.atividade.danger hr
{
    border-bottom-color: #ed5666;
}
.atividade.danger .atividade-id
{
    color: #ed5666;
}
/* -------------------------- */
.atividade-icon
{
    width: 25px;
}
.atividade-icon + p
{
    font-weight: 600;
    font-size: larger;
    margin: 0;
    cursor: pointer;
}

.user-group
{
    margin-left: -15px !important;
}

.atividade div.row
{
    margin: 0;
}

.atividade .form-horizontal label
{
    padding: 0;
}
.atividade .form-horizontal p
{
    padding-top: 0;
    min-height: 0;
}
.atividade .form-group
{
    margin: 0;
}
/* MENSAGENS */

.mensagem-publica {
	position: relative;
	background: #f1f1f1;
    border: 1px solid #DDDDDD;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 14px;
    margin-bottom: 5px;
}
.mensagem-publica:after, .mensagem-publica:before {
	bottom: 100%;
	left: 18px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mensagem-publica:after {
	border-color: rgba(241, 241, 241, 0);
	border-bottom-color: #f1f1f1;
	border-width: 9px;
	margin-left: -9px;
}
.mensagem-publica:before {
	border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #DDDDDD;
    /* calculo = (tamanho do :after) + (px da border) + 1 */
	border-width: 10px;
	margin-left: -10px;
}


/* /MENSAGENS */



/* //CONSERTO DETALHAMENTO */

/* NOVA TAB PARA CHAT */

.tab .nav-tabs li a {
    background:transparent;
    border-radius:0;
    border:none;
    font-size:13px;
    /* color: #686b6d; */
    padding: 0px 22px 10px;
}
.tab .nav-tabs li a:hover{
    background:transparent;
}
.tab .nav-tabs li a i{
    display:block;
    text-align:center;
    margin-bottom:4px;
    color:#1cb394;
}
.tab .nav-tabs li.active > a,
.tab .nav-tabs li.active > a:focus,
.tab .nav-tabs li.active > a:hover {
    border: none;
    border-bottom: 2px solid #1cb394;
    color:#1cb394 ;
}
.tab .nav-tabs li.active a:after{
    content: " ";
    position: absolute;
    bottom: 0%;
    left: 45%;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #1cb394;
}
.tab .tab-content{
    padding:12px;
    color:#5a5c5d;
    font-size: 14px;
    margin-top:0;
    border:none;
}
@media only screen and (max-width: 480px) {
    .tab .nav-tabs li{
        width:100%;
    }
    .tab .nav-tabs li a{
        border:1px solid lightgray;
        margin-bottom:10px;
    }
    .tab .nav-tabs li a i{
        display:inline-block;
        margin-right:15px;
    }
    .tab .nav-tabs li.active  a,
    .tab .nav-tabs > li.active a:focus,
    .tab .nav-tabs > li.active a:hover {
        border:1px solid #1cb394;
    }
    .tab .nav-tabs > li.active > a:after{
        border:none;
    }
}
/* //NOVA TAB PARA CHAT */

